<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermercado Primos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/android-chrome-192x192.png">
    <link rel="mask-icon" href="/assets/apple-touch-icon.png">
</head>

<body>
    <header class="container__header">
        <a class="logo" href="/player">
            <img src="/assets/logo.png" alt="Logo del primo">
        </a>
        <ul class="list__url">
            <li class="list__li">
                <a href="/">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
            </li>

            <li class="list__li">
                <a href="/">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <div class="footer__container">
        <div class="footer__content">
            <p id="footer-text"></p>
        </div>
        <script defer src="/js/footer.js"></script>
    </div>
</body>

</html>