<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css">
<div class="container__index">
    <h1 class="titulo">Iniciar sesión</h1>
    <form class="formulario__signup" action="/" method="POST" onsubmit="return validateForm()">
        <input class="formulario__input" type="text" name="username" id="usernameInput"
            placeholder="Nombre de usuario" />
        <input class="formulario__input" type="password" name="password" id="passwordInput" placeholder="Contraseña" />
        <input class="button__link" type="submit" value="Iniciar sesión" />
    </form>
</div>
<script src="/js/validateForm.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>