<div class="container__player">
    <div class="player">
        <div class="player__controls">
            <select class="select hide" id="select"></select>
            <h5 class="player__title">playing now</h5>
            <div class="player__btn player__btn--small" id="icon-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="player__album">
            <img id="player-image" src="assets/player.png" alt="Album Cover" class="player__img" loading="lazy">
        </div>
        <h3 id="titulo" class="player__song"></h3>
        <input id="duration__range" type="range" value="0" class="player__level">
        <div class="audio-duration">
            <div class="start">00:00</div>
            <div class="end">00:00</div>
        </div>
        <audio class="player__audio" controls="" id="audio-player"></audio>
        <div class="player__controls">
            <div class="player__btn player__btn--medium" id="backward">
                <i class="fas fa-backward"></i>
            </div>

            <div class="player__btn player__btn--medium play" id="play-button">
                <i id="play-btn" class="fas fa-play play-btn"></i>
            </div>

            <div class="player__btn player__btn--medium" id="forward">
                <i class="fas fa-forward"></i>
            </div>
        </div>
    </div>
</div>
<script class="defer" src="/js/player.js"></script>