<div class="content__player">
    <div class="container__content">
        <h1>Canciones:</h1>
        <div class="content__song">
            {{#each canciones}}
            <form action="/canciones/{{this.id}}" method="POST" class="delete-form">
                <div class="content_form">
                    <span class="song-title">{{this.filename}}</span>
                    <button class="delete-button" type="submit" onclick="confirmDelete(event)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            {{/each}}
        </div>
        <script defer src="/js/confirmDelete.js"></script>
    </div>
    <div class="container__index">
        <div class="container__list-player">
            <div class="content_form">
                <h1 class="titulo">Cargar</h1>
                <form class="upload-form" action="/canciones" method="POST" enctype="multipart/form-data"
                    id="uploadForm">
                    <label class="upload-label" for="fileType">Selecciona el tipo:</label>
                    <div class="custom-select">
                        <select class="upload-select" name="fileType" id="fileTypeSelect"
                            onchange="changeFormAction(this.value)">
                            <option value="cancion">Canción</option>
                            <option value="anuncio">Anuncio</option>
                        </select>
                    </div>
                    <label class="upload-label" for="file" id="fileInputLabel">Selecciona el archivo:</label>
                    <input class="upload-input" type="file" name="archivo" accept="audio/*" id="filePath"
                        oninput="enableUploadButton()" multiple />
                    <button class="upload-button" id="uploadButton" type="submit" disabled>
                        Cargar
                    </button>
                </form>
                <script defer src="/js/loadFile.js"></script>
            </div>
        </div>
    </div>
    <div class="container__content">
        <h1>Anuncios:</h1>
        <div class="content__song">
            {{#each anuncios}}
            <form action="/anuncios/{{this.id}}" method="POST" class="delete-form">
                <div class="content_form">
                    <span class="song-title">{{this.filename}}</span>
                    <button class="delete-button" type="submit" onclick="confirmDelete(event)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            {{/each}}
        </div>
        <script defer src="/js/confirmDelete.js"></script>
    </div>
</div>